* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(180deg, #081624, #0b1c2d);
    color: white;
    line-height: 1.7;
}

/* HEADER & NAV */
header {
    background-color: #111f33;
    padding: 25px;
    text-align: center;
    border-bottom: 2px solid orange;
}

header h1 {
    margin-bottom: 10px;
    letter-spacing: 1px;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 14px;
    font-weight: bold;
}

nav a:hover {
    color: orange;
}

/* MAIN CONTENT */
main {
    max-width: 1000px;
    margin: auto;
    padding: 30px;
}

section {
    margin-bottom: 40px;
}

/* IMAGES */
img {
    width: 320px;
    margin: 15px 0;
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(0,0,0,0.6);
}

/* VOITURES */
.car-grid {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

.car-card img {
    width: 100%;
    max-width: 240px;
    height: auto;
    object-fit: contain;
}


/* TABLE */
table {
    border-collapse: collapse;
    width: 100%;
    margin: 20px 0;
}

th, td {
    border: 1px solid white;
    padding: 12px;
    text-align: center;
}

th {
    background-color: #111f33;
}

/* FOOTER */
footer {
    background-color: #111f33;
    text-align: center;
    padding: 15px;
    border-top: 2px solid orange;
}
.team-grid {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

.team-card {
    background-color: #111f33;
    padding: 20px;
    border-radius: 15px;
    width: 280px;
    text-align: center;
}

.team-card img {
    width: 200px;
    margin-bottom: 10px;
}
